p,
h1,
h2,
h3,
h4,
h5,
h6 {
	word-wrap: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
}

body {
	margin: 0;
	padding: 0;
	color: rgb(155, 155, 155);
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}
hr {
	width: 90%;
	border-top: 1.5px solid rgba(143, 143, 143, 0.2);
}
ul {
	background-color: transparent;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 15px;
}
button,
input {
	z-index: 10;
}
button {
	cursor: pointer;
}
a {
	text-decoration: none;
	color: inherit;
	display: flex;
	align-items: center;
}
header {
	position: static;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	height: fit-content;
	font-size: smaller;
}
header svg {
	width: 17px;
	height: 17px;
}
header ul {
	background-color: transparent;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	gap: 10px;
}

#signInButton {
	background-color: rgba(189, 189, 189, 0.164);
	border-style: none;
	border-radius: 20px;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: rgb(92, 92, 92);
}
#endHeaderContent svg {
	width: 17px;
	height: 17px;
}
#firstLi {
	display: none;
}

footer {
	width: 100%;
}

#footerLeftDiv {
	padding-left: 10px;
}
#footerCenterDiv {
	width: 40%;
	display: flex;
	padding: 10px;
}
#footerCenterDiv ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
#footerCenterDiv ul li {
	margin: 0;
	padding: 0;
	display: flex;
	line-height: 0;
	margin-right: 15px;
}
#footerUpperDiv {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#footerBottomDiv p {
	background-image: linear-gradient(
		111deg,
		rgba(110, 203, 238, 1) 0%,
		rgba(129, 129, 129, 1) 54%,
		rgba(255, 227, 98, 1) 100%
	);
	color: transparent;
	background-clip: text;
}
#footerBottomDiv ul {
	background-color: transparent;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}
#footerBottomDiv ul {
	gap: 10px;
}
#footerRightDiv {
	padding-right: 10px;
}
#footerRightDiv svg {
	width: 17px;
	height: 17px;
}
#footerRightDiv ul {
	display: flex;
	align-items: center;
	gap: 15px;
}
#footerLeftDiv ul {
	display: flex;
	align-items: center;
	gap: 15px;
	background-color: transparent;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#footerLeftDiv svg {
	color: rgb(83, 83, 83);

	width: 45px;
	height: 45px;
}
#footerBottomDiv {
	padding: 10px;
}
.hiddenLi {
	display: none;
}
@media (min-width: 600px) {
	#firstLi {
		display: unset;
	}
	header ul {
		gap: 15px;
	}
	.hiddenLi {
		display: flex;
		align-items: center;
	}
	#footerCenterDiv {
		display: none;
	}
	#footerLeftDiv ul li {
		display: flex;
		padding: 0;
		margin: 0;
	}
}
