@import url('../css/globalStyles.css');

hr {
	width: 100%;
}
#backGroundDiv {
	padding: 0;
	margin: 0;
	background-color: rgb(245, 240, 245);
	height: 100vh;
}

header svg {
	width: 45px;
	height: 45px;
}
#cardDiv {
	border-radius: 20px;
	background-color: white;
	margin: 0;
	padding: 0;
	flex: 1 1 auto;
	height: fit-content;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(128, 128, 128, 0.322);
	margin-top: 50px;
}
#cardDiv #iconDiv {
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
	padding: 0;
	width: 100%;
}
#circle {
	background-color: rgba(221, 221, 221, 0.3);
	border-radius: 100%;
	width: 60px;
	height: 60px;
	justify-items: start;
	align-items: start;
}

#cardDiv {
	display: flex;
	flex-wrap: wrap;
	max-width: 350px;
	height: fit-content;
	padding-bottom: 20px;
}
#circle svg {
	position: absolute;
	width: 50px;
}

#cardDiv h2 {
	color: black;
}
#mainDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: fit-content;
}
#labelDiv {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0;
}
#labelDiv div {
	display: flex;
}
#labelDiv h4 {
	color: black;
}
#labelDiv div svg {
	margin: 0;
	padding: 0;
	width: 15px;
	height: 15px;
}
.inputDiv {
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-items: center;
	padding-right: 20px;
	padding-left: 20px;
	width: 100%;
}
.inputDiv button {
	display: flex;
	justify-content: center;
	border-radius: 8px;
	border-width: 1px;
	border-color: rgba(228, 228, 228, 0.199);
	padding: 10px;
	background-color: black;
	color: white;
	width: 100%;
}
.inputDiv button svg {
	width: 15px;
	height: 15px;
}
.inputDiv input {
	border-radius: 8px;
	border-width: 1px;
	border-color: rgba(228, 228, 228, 0.199);
	padding: 10px;
	width: 100%;
}
#googleButton {
	background-color: rgba(233, 233, 233, 0.527);
	color: rgb(94, 94, 94);
	width: 100%;
}
#cardDiv hr {
	border-top: 1.5px solid rgba(143, 143, 143, 0.2);
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}
#rectSvg {
	padding-left: 16px;
	padding-top: 10px;
	width: 20px;
}
#arrowSvg {
	padding-left: 35px;
	padding-top: 23px;
	width: 20px;
}
