/* globals */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	word-wrap: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
}

body {
	margin: 0;
	padding: 0;
	color: rgb(155, 155, 155);
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
		sans-serif, 'Segoe UI Symbol';
}
hr {
	width: 90%;
	border-top: 1.5px solid rgba(143, 143, 143, 0.2);
}
ul {
	background-color: transparent;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 15px;
	flex-direction: row;
	flex-wrap: wrap;
}
button,
input {
	z-index: 10;
}
button {
	cursor: pointer;
}
a {
	text-decoration: none;
	color: inherit;
	display: flex;
	align-items: center;
	width: fit-content;
}

/* Headers */
header #startHeaderContent {
	gap: 5px;
}

header #startHeaderContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc((100% - 240px) / 2);
}
header #startHeaderContent #right {
	display: flex;
	align-items: center;
}
header #startHeaderContent #right button {
	display: flex;
	align-items: center;
	background-color: transparent;
	border-color: transparent;
	outline: none;
	gap: 5px;
	color: gray;
}
header #startHeaderContent #headerLuma {
	width: 45px;
	height: 45px;
	display: none;
}
header #startHeaderContent #headerStar {
	width: 20px;
	height: 20px;
}
header #endHeaderContent svg,
header #endHeaderContent #exploreEvents svg,
header #startHeaderContent #right svg {
	width: 17px;
	height: 17px;
}
header ul {
	background-color: transparent;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	gap: 10px;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	height: fit-content;
	font-size: smaller;
}
header #startHeaderContent #right,
header #endHeaderContent #createEvent,
header #endHeaderContent #search,
header #endHeaderContent #bell,
header #endHeaderContent #profile {
	display: none;
}
#loggedInHeader {
	backdrop-filter: blur(10px);
	left: 0;
	top: 0;
	position: static;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	height: fit-content;
	font-size: smaller;
}
#loggedInHeader #startHeaderContent #right,
#loggedInHeader #endHeaderContent #createEvent,
#loggedInHeader #endHeaderContent #search,
#loggedInHeader #endHeaderContent #bell,
#loggedInHeader #endHeaderContent #profile {
	display: unset;
}
#loggedInHeader #startHeaderContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc((100% - 240px) / 2);
}
#loggedInHeader #startHeaderContent #right {
	display: flex;
	align-items: center;
}
#loggedInHeader #startHeaderContent #right button {
	display: flex;
	align-items: center;
	background-color: transparent;
	border-color: transparent;
	outline: none;
	gap: 5px;
	color: gray;
}
#loggedInHeader #startHeaderContent #headerLuma {
	width: 45px;
	height: 45px;
	display: none;
}
#loggedInHeader #startHeaderContent #headerStar {
	width: 20px;
	height: 20px;
}
#loggedInHeader #endHeaderContent svg,
#loggedInHeader #startHeaderContent #right svg {
	width: 17px;
	height: 17px;
}

#loggedInHeader #endHeaderContent #signIn,
#loggedInHeader #endHeaderContent #exploreEvents {
	display: none;
}
#loggedInHeader #endHeaderContent #profile img {
	width: 25px;
	height: 25px;
	border-radius: 100%;
}
#loggedInHeader span,
#loggedInHeader #time {
	display: none;
}
#loggedInHeader #startHeaderContent {
	gap: 5px;
}

@media (min-width: 600px) {
	#loggedInHeader span,
	#loggedInHeader #time {
		display: unset;
	}
}
#signInButton {
	background-color: rgba(189, 189, 189, 0.164);
	border-style: none;
	border-radius: 20px;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: rgb(92, 92, 92);
}
#endHeaderContent svg {
	width: 17px;
	height: 17px;
}

/* end */
/* Footer */

footer {
	width: 100%;
}

#footerLeftDiv {
	padding-left: 10px;
}
#footerCenterDiv {
	width: 100%;
	display: flex;
	padding-left: 10px;
	box-sizing: border-box;
}

#footerCenterDiv ul li {
	margin: 0;
	padding: 0;
	display: flex;
	line-height: 0;
}
#footerUpperDiv {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#footerBottomDiv p {
	background-image: linear-gradient(
		111deg,
		rgba(110, 203, 238, 1) 0%,
		rgba(129, 129, 129, 1) 54%,
		rgba(255, 227, 98, 1) 100%
	);
	color: transparent;
	background-clip: text;
}
#footerBottomDiv ul {
	background-color: transparent;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}
#footerBottomDiv ul {
	gap: 10px;
}
#footerRightDiv {
	padding-right: 10px;
}
#footerRightDiv svg {
	width: 17px;
	height: 17px;
}
#footerRightDiv ul {
	display: flex;
	align-items: center;
	gap: 15px;
}
#footerLeftDiv ul {
	display: flex;
	align-items: center;
	gap: 15px;
	background-color: transparent;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#footerLeftDiv svg {
	color: rgb(83, 83, 83);

	width: 45px;
	height: 45px;
}
footer #footerLeftDiv #starSvg svg {
	color: rgb(83, 83, 83);

	width: 17px;
	height: 17px;
}
footer #footerLeftDiv #starSvg {
	display: none;
}
footer #footerLeftDiv #lumaSvg svg {
	color: rgb(83, 83, 83);

	width: 45px;
	height: 45px;
}
footer #footerLeftDiv #lumaSvg {
	color: rgb(83, 83, 83);
	display: unset;
	width: 45px;
	height: 45px;
}
#footerBottomDiv {
	padding: 10px;
}
.hiddenLi {
	display: none;
}
#footerBottomDiv svg {
	color: rgb(189, 189, 189);
	width: 17px;
	height: 17px;
}
#footerBottomDiv p {
	display: none;
}
#loggedFooter {
}
#footer1 {
	max-width: 1100px;
	justify-self: center;
	box-sizing: border-box;
}
#footer2 {
	max-width: 950px;
	justify-self: center;
	box-sizing: border-box;
}
#footer2 #footerBottomDiv {
	display: flex;
	justify-content: start;
	padding-bottom: 60px;
}
#footer2 #footerBottomDiv ul {
	display: none;
}
#footer2 #footerBottomDiv p {
	display: unset;
}
#footer2 #footerBottomDiv a {
	display: unset;
}

@media (min-width: 600px) {
	#firstLi {
		display: unset;
	}
	.hiddenLi {
		display: flex;
		align-items: center;
	}
	#footerCenterDiv {
		display: none;
	}
	#footerLeftDiv ul li {
		display: flex;
		padding: 0;
		margin: 0;
	}

	footer #footerLine {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	#footer2 #footerUpperDiv #footerLeftDiv #lumaSvg {
		display: none;
	}
	#footer2 #footerUpperDiv #footerLeftDiv #starSvg {
		display: unset;
	}
	#footer2 #footerBottomDiv {
		display: flex;
		justify-content: center;
		padding-bottom: 60px;
	}
	#footer2 #footerBottomDiv ul {
		display: none;
	}
	#footer2 #footerBottomDiv p {
		display: unset;
	}
	#footer2 #footerBottomDiv a {
		display: unset;
	}
	#footer2 #footerCenterDiv {
		display: none;
	}
}
/* end */
/* Home */

#homeBackGroundDiv {
	width: 100%;
	height: fit-content;
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(
		170deg,
		rgb(197, 231, 231) 0%,
		rgb(255, 247, 247) 20%
	);
	background: -webkit-linear-gradient(
		170deg,
		rgb(197, 231, 231) 0%,
		rgb(255, 247, 247) 20%
	);
	background: linear-gradient(
		120deg,
		rgba(197, 231, 231, 0.5) 0%,
		rgb(255, 247, 247) 30%,
		rgb(255, 247, 247) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a6e0e0",endColorstr="#ffffff",GradientType=1);
	position: relative;
}

#homeBackGroundDiv #mainDiv {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
#homeBackGroundDiv video {
	width: 100%;
}

#homeBackGroundDiv #mainDiv #leftDiv h4 {
	font-size: large;
	padding: 0;
	margin: 0;
	padding-top: 10px;
	line-height: 150%;
	font-weight: 100;
	color: rgb(107, 107, 107);
}
#homeBackGroundDiv #mainDiv #leftDiv h3 {
	padding: 0;
	margin: 0;
}
#homeBackGroundDiv #mainDiv #leftDiv h1 {
	padding: 0;
	margin: 0;
	font-weight: 400;
	color: black;
}
#homeBackGroundDiv #mainDiv #leftDiv h1 span {
	background-image: -moz-linear-gradient(
		111deg,
		rgba(89, 145, 233, 1) 0%,
		rgba(213, 68, 156, 1) 54%,
		rgba(255, 102, 20, 1) 100%
	);
	background-image: -webkit-linear-gradient(
		111deg,
		rgba(89, 145, 233, 1) 0%,
		rgba(213, 68, 156, 1) 54%,
		rgba(255, 102, 20, 1) 100%
	);
	background-image: linear-gradient(
		111deg,
		rgba(89, 145, 233, 1) 0%,
		rgba(213, 68, 156, 1) 54%,
		rgba(255, 102, 20, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5991e9",endColorstr="#ff6614",GradientType=1);
	color: transparent;
	background-clip: text;
}
#homeBackGroundDiv #mainDiv #leftDiv button {
	margin-top: 20px;
	width: fit-content;
	background-color: black;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: large;
	border-radius: 10px;
	border-style: none;
}
#homeBackGroundDiv #mainDiv #rightDiv {
	width: fit-content;
	height: fit-content;
	padding-top: 30px;
}

#homeBackGroundDiv #mainDiv svg {
	width: 100px;
	height: 100px;
}
@media (min-width: 600px) {
	#homeBackGroundDiv #mainDiv {
		display: flex;
		justify-content: center;
		flex-direction: row;
		text-align: start;
		width: fit-content;
		gap: 50px;
	}
	#homeBackGroundDiv #mainDiv #leftDiv {
		width: 28%;
		padding-top: 120px;
		font-size: xx-large;
	}
	#homeBackGroundDiv #mainDiv #leftDiv h4 {
		font-size: large;
		padding: 0;
		margin: 0;
		padding-top: 10px;
		line-height: 150%;
		font-weight: 100;
		color: rgb(107, 107, 107);
		width: 91%;
	}
	#homeBackGroundDiv #mainDiv #leftDiv h1 {
		width: 90%;
	}
	#homeBackGroundDiv #mainDiv #rightDiv {
		display: flex;
		width: 45%;
		padding-top: 80px;
	}
}

/* header */
/* background */
/* specific */
/* footer */
/* SignIn */
#signInBackGroundDiv hr {
	width: 100%;
}
#signInBackGroundDiv {
	padding: 0;
	margin: 0;
	background-color: rgb(245, 240, 245);
	height: 100vh;
}

#signInBackGroundDiv #cardDiv {
	border-radius: 20px;
	background-color: white;
	margin: 0;
	padding: 0;
	flex: 1 1 auto;
	height: fit-content;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(128, 128, 128, 0.322);
	margin-top: 50px;
}
#signInBackGroundDiv #cardDiv #iconDiv {
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
	padding: 0;
	width: 100%;
}
#signInBackGroundDiv #circle {
	background-color: rgba(221, 221, 221, 0.3);
	border-radius: 100%;
	width: 60px;
	height: 60px;
	justify-items: start;
	align-items: start;
}

#signInBackGroundDiv #cardDiv {
	display: flex;
	flex-wrap: wrap;
	max-width: 350px;
	height: fit-content;
	padding-bottom: 20px;
}
#signInBackGroundDiv #circle svg {
	position: absolute;
	width: 50px;
}

#signInBackGroundDiv #cardDiv h2 {
	color: black;
}
#signInBackGroundDiv #mainDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: fit-content;
}
#signInBackGroundDiv #labelDiv {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0;
}
#signInBackGroundDiv #labelDiv div {
	display: flex;
}
#signInBackGroundDiv #labelDiv h4 {
	color: black;
}
#signInBackGroundDiv #labelDiv div svg {
	margin: 0;
	padding: 0;
	width: 15px;
	height: 15px;
}
#signInBackGroundDiv .inputDiv {
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-items: center;
	padding-right: 20px;
	padding-left: 20px;
	width: 100%;
}
#signInBackGroundDiv .inputDiv button {
	display: flex;
	justify-content: center;
	border-radius: 8px;
	border-width: 1px;
	border-color: rgba(228, 228, 228, 0.199);
	padding: 10px;
	background-color: black;
	color: white;
	width: 100%;
}
#signInBackGroundDiv .inputDiv button svg {
	width: 15px;
	height: 15px;
}
#signInBackGroundDiv .inputDiv input {
	border-radius: 8px;
	border-width: 1px;
	border-color: rgba(228, 228, 228, 0.199);
	padding: 10px;
	width: 100%;
}
#signInBackGroundDiv #googleButton {
	background-color: rgba(233, 233, 233, 0.527);
	color: rgb(94, 94, 94);
	width: 100%;
}
#signInBackGroundDiv #cardDiv hr {
	border-top: 1.5px solid rgba(143, 143, 143, 0.2);
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}
#signInBackGroundDiv #rectSvg {
	padding-left: 16px;
	padding-top: 10px;
	width: 20px;
}
#signInBackGroundDiv #arrowSvg {
	padding-left: 35px;
	padding-top: 23px;
	width: 20px;
}

/* header */
/* background */
/* specific */
/* footer */
/* Discover */

#discoverBackGroundDiv {
	margin: 0;
	background: linear-gradient(
		180deg,
		rgba(204, 155, 211, 0.397) 0%,
		rgba(183, 204, 237, 0.5) 10%,
		rgba(240, 243, 255, 1) 20%
	);
	width: 100%;
	height: 100%;
}
#discoverBackGroundDiv #mainDiv {
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	justify-self: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-items: center;
}
#discoverBackGroundDiv #discoverEventsDiv {
	width: 100%;
}
#discoverBackGroundDiv #eventsLocalsDiv {
	width: 100%;
	padding-bottom: 20px;
}
#discoverBackGroundDiv .gridDiv {
	overflow-x: auto;
	display: flex;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}
#discoverBackGroundDiv #localGrid {
	display: grid;
	grid-auto-flow: column;
	column-gap: 40px;
	grid-template-rows: repeat(3, 4rem);
}
#discoverBackGroundDiv #eventsLocalsDiv ul li {
	background-color: rgba(216, 216, 216, 0.473);
	padding: 8px;
	border-radius: 10px;
	margin-right: 50px;
}
#discoverBackGroundDiv .circle {
	background-color: blue;
	border-radius: 100%;
	width: 90px;
	height: 50px;
}
#discoverBackGroundDiv .circle img {
	width: 100%;
	height: 100%;
}
#discoverBackGroundDiv .itemDiv {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	gap: 5px;
}
#discoverBackGroundDiv .infoDiv {
	gap: 0;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 70px;
}
#discoverBackGroundDiv #browseByCategoryDiv {
	width: 100%;
}
#discoverBackGroundDiv #featuredCalendarsDiv {
	width: 100%;
}
#discoverBackGroundDiv #browseByCategoryGrid {
	display: grid;
	grid-auto-flow: column;
	gap: 0px;
	grid-template-rows: repeat(1, 150px);
}
#discoverBackGroundDiv .browseByCategoryCard {
	display: flex;
	line-height: 0;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	width: 180px;
	padding: 15px;
	height: 100px;
	margin: 15px;
}
#discoverBackGroundDiv .browseByCategoryCard img {
	width: 30%;
	padding: 0;
	margin: 0;
}
#discoverBackGroundDiv .browseByCategoryCard h1,
#discoverBackGroundDiv .browseByCategoryCard p {
	margin: 0;
	padding: 0;
	line-height: 0;
}
#discoverBackGroundDiv #featuredCalendarsDiv {
	padding-bottom: 30px;
	width: 100%;
}
#discoverBackGroundDiv #featuredCalendarsGrid {
	display: grid;
	grid-auto-flow: column;
	gap: 0px;
	grid-template-rows: repeat(3, 100px);
}
#discoverBackGroundDiv .featuredCalendarsCard {
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
	width: 250px;
	margin: 0;
	margin-right: 10px;
}
#discoverBackGroundDiv .featuredCalendarsCard span {
	display: none;
}
#discoverBackGroundDiv .featuredCalendarsCard .topDiv img {
	border-radius: 10px;
}
#discoverBackGroundDiv .topDiv {
	display: flex;
	justify-content: space-between;
	align-items: start;
}
#discoverBackGroundDiv .topDiv span {
	background-color: rgba(214, 214, 214, 0.438);
	border-radius: 15px;
	padding: 7px;
}
#discoverBackGroundDiv .infoDiv {
	padding-left: 8px;
	width: 100%;
}
#discoverBackGroundDiv .midDiv {
	width: 100%;
}
#discoverBackGroundDiv .botDiv {
	display: -webkit-box; /* Use a flexbox */
	-webkit-box-orient: vertical; /* Orient the box vertically */
	-webkit-line-clamp: 2; /* Limit to 2 lines */
	overflow: hidden; /* Hide overflow text */
	text-overflow: ellipsis; /* Show ellipsis for overflow */
	max-height: 3em; /* Set max height (2 lines) */
	line-height: 1.5em;
	padding-top: 5px;
	font-size: small;
}

@media (min-width: 600px) {
	#discoverBackGroundDiv #featuredCalendarDiv #featuredCalendarsGrid {
		display: grid;
		grid-template-columns: repeat(2, 200px);
	}
	#discoverBackGroundDiv #mainDiv {
		width: 70%;
		padding-left: 5%;
	}
	#discoverBackGroundDiv #eventsLocalsDiv ul li {
		background-color: rgba(216, 216, 216, 0.473);
		padding: 8px;
		margin: 0;
	}
	#discoverBackGroundDiv #eventsLocalsDiv ul {
		gap: 0;
	}
	#discoverBackGroundDiv .gridDiv {
		overflow-x: unset;
		display: unset;
		scroll-snap-type: unset;
		scroll-behavior: unset;
	}
	#discoverBackGroundDiv #localGrid {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: repeat(auto-fill, 160px);
	}
	#discoverBackGroundDiv #browseByCategoryGrid {
		grid-template-rows: unset;
		column-gap: unset;
		display: grid;
		grid-auto-flow: row;
		gap: 15px;

		grid-template-columns: repeat(auto-fill, 250px);
		padding-bottom: 30px;
	}
	#discoverBackGroundDiv .browseByCategoryCard {
		width: unset;
		height: unset;
		margin: 0;
	}
	#discoverBackGroundDiv .featuredCalendarsCard {
		background-color: white;
		width: unset;
		display: flex;
		flex-direction: column;
		height: 150px;
		margin: 0;
	}
	#discoverBackGroundDiv #featuredCalendarsGrid {
		grid-auto-flow: row;
		gap: 15px;
		grid-template-rows: unset;
		grid-template-columns: repeat(auto-fill, 250px);
	}
	#discoverBackGroundDiv .featuredCalendarsCard span {
		display: unset;
	}
	#discoverBackGroundDiv .featuredCalendarsCard .topDiv img {
		border-radius: 10px;
	}
	#discoverBackGroundDiv .topDiv {
		display: flex;
		justify-content: space-between;
		align-items: start;
		gap: 100px;
		padding-bottom: 10px;
	}
	#discoverBackGroundDiv .topDiv span {
		background-color: rgba(214, 214, 214, 0.438);
		border-radius: 15px;
		padding: 7px;
		font-size: small;
	}
	#discoverBackGroundDiv .infoDiv {
		padding-left: 8px;
		width: 100%;
	}
	#discoverBackGroundDiv .midDiv {
		width: 100%;
	}
	#discoverBackGroundDiv .botDiv {
		line-height: 1.5em;
		padding-top: 5px;
		font-size: small;
	}
}

/* header */
/* background */
/* specific */
/* footer */
/* Atlanta */
#atlantaBackGroundDiv {
	padding: 0;
	margin: 0;
	position: relative;
}

#atlantaBackGroundDiv header {
	background-image: url('https://images.lumacdn.com/cdn-cgi/image/format=auto,fit=cover,dpr=2,anim=false,background=white,quality=75,width=1080/discovery/atlanta-desktop.jpg');
}

#atlantaBackGroundDiv #topDiv {
	padding: 0;
	margin: 0;
	background-image: url('https://images.lumacdn.com/cdn-cgi/image/format=auto,fit=cover,dpr=2,anim=false,background=white,quality=75,width=1080/discovery/atlanta-desktop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 160px;
	padding-bottom: 110px;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
}
#atlantaBackGroundDiv #topDiv #content {
	max-width: 400px;
}
@media (min-width: 600px) {
	#atlantaBackGroundDiv #topDiv {
		padding-left: 16%;
		justify-content: unset;
		box-sizing: unset;
	}
}
#atlantaBackGroundDiv #topDiv #content hr {
	width: 100%;
}

#atlantaBackGroundDiv img {
	width: 50px;
	height: 50px;
}

#atlantaBackGroundDiv #topDiv svg {
	width: 15px;
	height: 15px;
}

#atlantaBackGroundDiv #bottomDiv svg {
	width: 15px;
	height: 15px;
}

#atlantaBackGroundDiv .line {
	height: 100px;
	width: 10px;
	margin-left: 5px;
	border-left: 5px dashed gray;
}
#atlantaBackGroundDiv #grayCircle {
	border-radius: 100%;
	background-color: rgba(236, 236, 236, 0.096);
	width: fit-content;
	height: fit-content;
	outline: solid 1px rgba(255, 255, 255, 0.281);
}
#atlantaBackGroundDiv #blueCircle {
	border-radius: 100%;
	background-color: blue;
	width: 50px;
	height: 50px;
}
#atlantaBackGroundDiv #bottomDiv {
	padding-top: 20px;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	width: 100%;
}
#atlantaBackGroundDiv #bottomDiv #leftDiv #header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#atlantaBackGroundDiv #bottomDiv #leftDiv {
	max-width: 650px;
	padding-left: 10px;
	padding-right: 10px;
}
#atlantaBackGroundDiv #bottomDiv #rightDiv {
	display: none;
}

#atlantaBackGroundDiv #eventsDiv {
	display: flex;
	flex-direction: row;
	height: fit-content;
}
#atlantaBackGroundDiv .verticalLine {
	height: 95%;
	width: 5px;
	border-left: 1px dashed gray;
	margin-left: 2px;
}
#atlantaBackGroundDiv #lineCircle {
	width: 5px;
	height: 5px;
	background-color: gray;
	border-radius: 100%;
}
#atlantaBackGroundDiv #lineDiv {
	display: flex;
	flex-direction: column;
	justify-items: center;
	padding-top: 5px;
}

#atlantaBackGroundDiv #dateDiv {
	padding: 0;
	margin: 0;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 30px;
}
#atlantaBackGroundDiv #dateDiv p {
	padding: 0;
	margin: 0;
	line-height: 1;
	padding-bottom: 15px;
}
#atlantaBackGroundDiv .card {
	border-radius: 15px;
	background-color: white;
	padding: 15px;
	display: flex;
	box-sizing: border-box;
}
#atlantaBackGroundDiv .card h2 {
	font-size: 20px;
}
#atlantaBackGroundDiv .card .leftDiv {
	width: 75%;
}
#atlantaBackGroundDiv .card .rightDiv {
	width: 25%;
}
#atlantaBackGroundDiv .card .rightDiv img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}
#atlantaBackGroundDiv .card .authorsDiv {
	height: 20px;
	display: flex;
	align-items: center;
	justify-items: start;
	margin: 0;
}
#atlantaBackGroundDiv .card .authorsDiv img {
	height: 100%;
	width: auto;
	border-radius: 100%;
	margin-right: -8px;
	outline: solid 2px white;
}
#atlantaBackGroundDiv .card .usersDiv {
	height: 20px;
	display: flex;
	align-items: center;
}
#atlantaBackGroundDiv .card .usersDiv img {
	height: 100%;
	width: auto;
	border-radius: 100%;
	margin-right: -8px;
	outline: solid 2px white;
}
#atlantaBackGroundDiv .card .usersDiv .imgs {
	display: inline-flex;
	width: auto;
	position: relative;
	margin-right: 8px;
	height: 100%;
}
#atlantaBackGroundDiv .card .authorsDiv .imgs {
	display: inline-flex;
	position: relative;
	width: auto;
	margin-right: 8px;
	height: 100%;
}
#atlantaBackGroundDiv .card .cardFooter {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
#atlantaBackGroundDiv #calendarDiv #content {
	display: flex;
	flex-direction: row;
	height: fit-content;
	padding-bottom: 20px;
}

#atlantaBackGroundDiv #calendarDiv svg {
	margin-left: -5px;
	padding-bottom: 5px;
	border-radius: 15px;
}
#atlantaBackGroundDiv #calendarDiv .horizontalLine {
	width: 100%;
	border-top: 1px dashed gray;
	box-sizing: border-box;
}
#atlantaBackGroundDiv #calendarCard {
	display: flex;
	align-items: center;
	font-size: small;
	line-height: 1;
}
#atlantaBackGroundDiv #calendarCard #info {
	padding-left: 10px;
	font-size: 12px;
}
#atlantaBackGroundDiv #calendarDiv {
	font-size: small;
	padding-top: 20px;
	padding-bottom: 90px;
}
#atlantaBackGroundDiv #calendarDiv #lineDiv {
	font-size: small;
	height: auto;
	padding-top: 20px;
}
#atlantaBackGroundDiv #calendarDiv #lineDiv .verticalLine {
	height: 100%;
}
#atlantaBackGroundDiv #calendarContent {
	padding-left: 10px;
}
@media (min-width: 500px) {
	#atlantaBackGroundDiv #bottomDiv #rightDiv {
		display: unset;
		width: 200px;
		margin-left: 60px;
		font-size: small;
		line-height: 1.5;
	}
	#atlantaBackGroundDiv #bottomDiv #rightDiv h2 {
		line-height: 0.5;
	}

	#atlantaBackGroundDiv #bottomDiv #rightDiv #inputDiv {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding-bottom: 20px;
	}
	#atlantaBackGroundDiv #bottomDiv #rightDiv #inputDiv input {
		border-radius: 20px;
		height: 30px;
	}
	#atlantaBackGroundDiv #bottomDiv #rightDiv #inputDiv button {
		border-radius: 20px;
		height: 35px;
	}
	#atlantaBackGroundDiv #bottomDiv #rightDiv img {
		width: 100%;
		height: auto;
		border-radius: 15px;
	}
}
/* header */
/* background */
/* specific */
/* footer */
/* atlantaModal */

#atlantaBackGroundDiv #eventModal {
	display: none;

	position: fixed;
	border-radius: 15px;
	background-color: white;
	max-width: 650px;
	right: 0;
	top: 0;
	margin: 15px;
	padding: 0;
	height: 550px;
	z-index: 60;
}
#atlantaBackGroundDiv #eventModal #eventModalContent {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: rgb(245, 245, 245);
	margin: 0;
	overflow-y: auto;

	height: 500px;
	max-width: 650px;
	padding: 15px;
}
#atlantaBackGroundDiv #eventModal svg {
	width: 17px;
	height: 17px;
}
#atlantaBackGroundDiv #eventModal #header img {
	width: 50%;
	height: auto;
	border-radius: 15px;
}
#atlantaBackGroundDiv #header #imgDiv {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
#atlantaBackGroundDiv #header #data img {
	width: 17px;
	height: 17px;
}
#atlantaBackGroundDiv #header #data #info img {
	width: 40px;
	height: 40px;
	border-radius: 7px;
}
#atlantaBackGroundDiv #header #data #info #date,
#atlantaBackGroundDiv #header #data #info #loc {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
#atlantaBackGroundDiv #header #data #info #date #data,
#atlantaBackGroundDiv #header #data #info #loc #data {
	padding-left: 15px;
}
#atlantaBackGroundDiv #header #data #info #date p,
#atlantaBackGroundDiv #header #data #info #date h4,
#atlantaBackGroundDiv #header #data #info #loc p,
#atlantaBackGroundDiv #header #data #info #loc h4 {
	line-height: 1.5;
	padding: 0;
	margin: 0;
	font-size: 13px;
}
#atlantaBackGroundDiv #header #subscription {
	border-radius: 15px;
	background-color: white;
}
#atlantaBackGroundDiv #header #subscription #label {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: rgba(247, 247, 247, 0.356);
	padding: 10px;
}
#atlantaBackGroundDiv #header #subscription #content {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: white;
	padding: 10px;
}

#atlantaBackGroundDiv #header #subscription #content button {
	border-radius: 15px;
	color: white;
	background-color: black;
	width: 100%;
	border-width: 0;
	height: 30px;
}
#atlantaBackGroundDiv #about ul {
	list-style-type: disc;
	margin: 20px;
	padding-left: 20px;
}
#atlantaBackGroundDiv #authors img {
	width: 25px;
	height: 25px;
	border-radius: 100%;
}
#atlantaBackGroundDiv #authors .author {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 5px;
}
#atlantaBackGroundDiv #eventModal #topTab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
#atlantaBackGroundDiv #eventModal #topTab #start {
	display: flex;
}
#atlantaBackGroundDiv #eventModal #topTab #start button {
	display: flex;
	align-items: center;
}
/* header */
/* background */
/* specific */
/* footer */

/* Event */
#eventBackGroundDiv {
	background-color: #f1f1f1cc;
}
/* header */
/* background */
/* specific */
/* footer */
/* Overview */
#overviewBackGroundDiv {
	background: linear-gradient(
		180deg,
		rgba(171, 200, 231, 0.6783088235294117) 0%,
		rgb(233, 233, 233) 30%
	);
	background-attachment: fixed;
	background-size: cover;
}
#overviewBackGroundDiv #mainDivWrapper svg {
	width: 17px;
	height: 17px;
}
#overviewBackGroundDiv #mainDivWrapper #status #header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#overviewBackGroundDiv #mainDivWrapper #status #header h2 {
	font-size: 18px;
}
#overviewBackGroundDiv #mainDivWrapper #status {
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}
#overviewBackGroundDiv #mainDivWrapper #status #header button {
	display: flex;
	gap: 5px;
	align-items: center;
	border-radius: 10px;
	background-color: rgba(218, 218, 218, 0.281);
	border-width: 0;
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
}
#overviewBackGroundDiv #secondHeader #content #bottom button {
	display: flex;
	align-items: center;
	border-radius: 10px;
	background-color: rgba(247, 247, 247, 0.356);
	border-width: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#overviewBackGroundDiv #mainDivWrapper #secondHeader #bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

#overviewBackGroundDiv #mainDivWrapper #secondHeader {
	position: sticky;
	top: 0;
	left: 0;
	height: 80px;
	backdrop-filter: blur(12px);
}
#overviewBackGroundDiv #mainDivWrapper #secondHeader #content {
	padding: 0;
}

#overviewBackGroundDiv #breadCrumbs #top {
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 0;
	margin: 0;
}
#overviewBackGroundDiv #breadCrumbs #top p {
	padding: 0;
	margin: 0;
	line-height: 1;
}
#overviewBackGroundDiv #breadCrumbs #top svg {
	width: 17px;
	height: 17px;
}

#overviewBackGroundDiv #mainDiv #cards #topCard {
	margin-left: 15px;
	margin-right: 15px;
	padding: 15px;
}
#overviewBackGroundDiv #mainDiv #cards #topCard #header {
	padding-bottom: 10px;
}
#overviewBackGroundDiv #mainDiv #cards #topCard #body div {
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
}
#overviewBackGroundDiv #mainDivWrapper #header p,
#overviewBackGroundDiv #mainDivWrapper #secondHeader #content h2 {
	padding: 0;
	padding-top: 5px;
	line-height: 1.5;
	margin: 0;
}
#overviewBackGroundDiv #mainDivWrapper #nav {
	display: flex;
	overflow-x: auto;
	padding-left: 20px;
	padding-right: 20px;
}
#overviewBackGroundDiv #mainDivWrapper #nav button {
	background-color: transparent;
	border-width: 0;
	padding: 0;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	margin-right: 15px;
}
#overviewBackGroundDiv #mainDiv #cards #topCard {
	background-color: white;
	border-radius: 15px;
}
#overviewBackGroundDiv #mainDiv #cards #topCard #header {
	display: flex;
	justify-content: space-between;
}
#overviewBackGroundDiv #mainDiv #cards #bottomCard {
	background-color: white;
	margin: 15px;
	padding: 10px;
	border-radius: 15px;
	text-align: center;
}
#overviewBackGroundDiv #mainDiv #cards #bottomCard #title {
	padding: 0;
	line-height: 1.5;
	font-size: 18px;
	text-align: start;
	margin: 0;
}
#overviewBackGroundDiv #mainDiv #cards #bottomCard p,
#overviewBackGroundDiv #mainDiv #cards #bottomCard h2 {
	padding: 0;
	line-height: 1.5;
	font-size: 15px;
	margin: 0;
}
#overviewBackGroundDiv #mainDiv #cards #bottomCard svg {
	width: 50px;
	height: auto;
	justify-self: center;

	display: flex;
}
#overviewBackGroundDiv #mainDiv #cards #bottomCard #bottom {
	color: rgb(255, 0, 106);
}
#overviewBackGroundDiv #mainDiv #invites {
	padding: 15px;
}
#overviewBackGroundDiv #mainDiv #invites #header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#overviewBackGroundDiv #mainDiv #invites #header button {
	display: flex;
	align-items: center;
	gap: 5px;
	background-color: rgb(19 21 23 / 4%);
	border-width: 0;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#overviewBackGroundDiv #mainDiv #invites #description {
	line-height: 1.2;
	padding: 0;
	margin: 0;
	margin-top: 5px;
}
#overviewBackGroundDiv #mainDiv #invites #card {
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 15px;
	margin-top: 15px;
}
#overviewBackGroundDiv #mainDiv #invites #card svg {
	width: 80px;
	height: auto;
	padding-left: 15px;
	padding-right: 15px;
}
#overviewBackGroundDiv #mainDiv #invites #card #text h2 {
	font-size: 15px;
}
#overviewBackGroundDiv #mainDiv #invites #card #text p {
	font-size: 13px;
	line-height: 1.5;
}
#overviewBackGroundDiv #mainDiv #hosts {
	padding-left: 15px;
	padding-right: 15px;
}
#overviewBackGroundDiv #mainDiv #hosts #header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#overviewBackGroundDiv #mainDiv #hosts #header button {
	display: flex;
	gap: 5px;
	align-items: center;
	border-radius: 10px;
	background-color: rgba(218, 218, 218, 0.281);
	border-width: 0;
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
}
#overviewBackGroundDiv #mainDiv #hosts #description {
	font-size: 14px;
}
#overviewBackGroundDiv #mainDiv #hosts #card {
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	margin-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;
}
#overviewBackGroundDiv #mainDiv #hosts #card div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}
#overviewBackGroundDiv #mainDiv #hosts #card div img {
	width: 20px;
	height: auto;
}
#overviewBackGroundDiv #mainDiv #hosts #card div #badge {
	border-radius: 15px;
	background-color: rgba(132, 209, 132, 0.644);
	color: rgb(52, 212, 52);
	font-size: small;
	padding: 5px;
}
#overviewBackGroundDiv #mainDiv #visibility {
	padding-left: 15px;
	padding-right: 15px;
}
#overviewBackGroundDiv #mainDiv #visibility #card {
	padding: 15px;
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: start;
	border-radius: 15px;
	margin-top: 20px;
	gap: 10px;
}
#overviewBackGroundDiv #mainDiv #visibility #card img {
	margin-top: 5px;
}
#overviewBackGroundDiv #mainDiv #visibility #card #body {
	padding: 0;
	margin: 0;
}
#overviewBackGroundDiv #mainDiv #visibility #card #body p,
#overviewBackGroundDiv #mainDiv #visibility #card #body h4 {
	padding: 0;
	margin: 0;
	line-height: 1.3;
}
#overviewBackGroundDiv #mainDiv #visibility #card #body button {
	margin-top: 10px;
}

#overviewBackGroundDiv #mainDiv #visibility #card #body #info #publicIcon {
	display: flex;
	align-items: center;
	color: rgba(42, 223, 42, 0.678);
}
#overviewBackGroundDiv #mainDiv #visibility #card #body #info {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: auto;
	flex-wrap: wrap;
	padding-top: 8px;
}
#overviewBackGroundDiv #mainDiv #visibility #card #body #info span {
	line-height: 1;
	padding: 0;
	margin: 0;
}
#overviewBackGroundDiv #mainDiv #visibility #card #body button {
	border-width: 0;
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 5px;
	background-color: rgba(218, 218, 218, 0.281);
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
}

#overviewBackGroundDiv #secondHeader #content #bottom span {
	display: none;
}
@media (min-width: 600px) {
	#overviewBackGroundDiv #mainDivWrapper {
		width: 100%;
		justify-items: center;
	}
	#overviewBackGroundDiv #mainDiv {
		max-width: 785px;
		justify-self: center;
	}
	#overviewBackGroundDiv #mainDivWrapper #secondHeader {
		position: sticky;
		top: 0;
		left: 0;
		height: 90px;
		max-width: 760px;
		backdrop-filter: blur(12px);

		margin-left: auto;
		margin-right: auto;

		box-sizing: border-box;
	}
	#overviewBackGroundDiv #mainDivWrapper #secondHeader #bottom {
		padding: 0;
	}
	#overviewBackGroundDiv #mainDivWrapper #secondHeader #nav {
		padding: 0;
	}

	#overviewBackGroundDiv #mainDivWrapper #secondHeader #content {
		width: 100%;
	}
	#overviewBackGroundDiv #breadCrumbs {
		max-width: 760px;
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}
	#overviewBackGroundDiv #breadCrumbs #top {
		padding: 0;
		margin: 0;
	}
	#overviewBackGroundDiv #secondHeader #content #bottom span {
		display: unset;
	}
	#overviewBackGroundDiv #mainDiv #cards #topCard,
	#overviewBackGroundDiv #mainDiv #cards #bottomCard {
		width: 50%;
		margin: 15px;
	}

	#overviewBackGroundDiv #mainDiv #cards {
		display: flex;
		flex-direction: row;
	}
}
/* header */
/* background */
/* specific */
/* footer */
/* Create */
#createBackGroundDiv {
	background: linear-gradient(
		180deg,
		rgba(224, 196, 231, 0.7035189075630253) 0%,
		rgba(171, 200, 231, 0.6783088235294117) 63%
	);
	width: 100%;
}
#createBackGroundDiv #mainDiv {
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	padding-bottom: 90px;
}
#createBackGroundDiv #mainDiv #imgSection {
	width: 100%;
}
#createBackGroundDiv #mainDiv #imgSection #img {
	padding-bottom: 20px;
}
#createBackGroundDiv #mainDiv #imgSection img {
	width: 100%;
	border-radius: 10px;
}

#createBackGroundDiv #mainDiv #imgSection #buttons {
	display: flex;
	gap: 10px;
}
#createBackGroundDiv #mainDiv #imgSection #buttons #left #leftDiv {
	display: flex;
	align-items: center;
}
#createBackGroundDiv #mainDiv #imgSection #buttons button {
	display: flex;
	border-radius: 10px;
	border-width: 0;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}
#createBackGroundDiv #mainDiv #imgSection #buttons #right {
	padding-left: 20px;
	padding-right: 20px;
}
#createBackGroundDiv #mainDiv #imgSection #buttons #left {
	width: 100%;
}
#createBackGroundDiv #mainDiv #imgSection #buttons #left #leftDiv {
	display: flex;
	gap: 10px;
	align-items: center;
}
#createBackGroundDiv #mainDiv #imgSection #buttons button #text p {
	line-height: 1.2;
	padding: 0;
	margin: 0;
	display: flex;
	justify-items: start;
}
#createBackGroundDiv #mainDiv #imgSection #buttons svg {
	width: 15px;
	height: auto;
}
#createBackGroundDiv #mainDiv #imgSection #buttons img {
	width: 50px;
	height: auto;
}
#createBackGroundDiv #mainDiv #options1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}
#createBackGroundDiv #mainDiv #options1 img {
	width: 15px;
	height: auto;
	border-radius: 100%;
}
#createBackGroundDiv #mainDiv #options1 button {
	display: flex;
	align-items: center;
	border-width: 0;
	border-radius: 10px;
	gap: 10px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#createBackGroundDiv #mainDiv #options1 button svg {
	width: 15px;
	height: auto;
}
#createBackGroundDiv #mainDiv #options2 #optionsList svg {
	width: 18px;
	height: auto;
}
#createBackGroundDiv #mainDiv #options2 #optionsList .card {
	display: flex;
	align-items: start;
	gap: 10px;
	background-color: rgba(0, 0, 0, 0.082);
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
}
#createBackGroundDiv #mainDiv #options2 #optionsList .card p {
	padding: 0;
	margin: 0;
	line-height: 1.6;
}
#createBackGroundDiv #mainDiv #options2 #optionsList .card h4 {
	padding: 0;
	margin: 0;
	line-height: 1;
}
#createBackGroundDiv #mainDiv #options3 svg {
	width: 15px;
	height: auto;
}
#createBackGroundDiv #mainDiv #options3 #sections {
	background-color: rgba(0, 0, 0, 0.082);

	border-radius: 10px;
	margin-bottom: 20px;
}
#createBackGroundDiv #mainDiv #options3 #sections .section {
	display: flex;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
}
#createBackGroundDiv #mainDiv #options3 #sections .section div {
	display: flex;
	gap: 10px;
}
#createBackGroundDiv #mainDiv #options3 #sections .section div p {
	line-height: 1;
}
#createBackGroundDiv #mainDiv #options3 #sections .section #checkButton #back {
	border-radius: 40px;
	width: 40px;
	height: 25px;
	background-color: gray;
	align-self: center;
	padding: 0;
}
#createBackGroundDiv
	#mainDiv
	#options3
	#sections
	.section
	#checkButton
	#back
	#innerCircle {
	border-radius: 100%;
	width: 22px;
	height: 22px;
	background-color: white;
	align-self: center;
	justify-self: start;
	margin-left: 2px;
}
#createBackGroundDiv #mainDiv #options3 #sections hr {
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: black;
	outline-width: 0;
	border-width: 0;
	border-bottom-width: 1px;
	border-bottom-color: gray;
	justify-self: center;
}
#createBackGroundDiv #mainDiv #createButton {
	width: 100%;
	border-radius: 10px;
	background-color: rgb(151, 75, 126);
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	border-width: 0;
}
#createBackGroundDiv #mainDiv #options2 #fullscreencard {
	display: none;
}

#inactiveBackGround {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.442);
	overflow: hidden;
}
#inactiveBackGround #createModal {
	display: none;

	background-color: white;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 280px;
	max-height: fit-content;
	overflow: hidden;
}
#inactiveBackGround #createModal #icon {
	width: 100%;
	display: flex;
	justify-items: start;
}
#inactiveBackGround #createModal #icon #circle {
	background-color: rgba(180, 180, 180, 0.178);
	border-radius: 100%;
	width: fit-content;
	padding: 5px;
}
#inactiveBackGround #createModal #icon #circle svg {
	width: 30px;
	height: auto;
	padding: 5px;
}

#inactiveBackGround #createModal #checkButton #back {
	border-radius: 40px;
	width: 40px;
	height: 23px;
	background-color: gray;
	align-self: center;
	padding: 0;
	padding-top: 2px;
}
#inactiveBackGround #createModal #checkButton #back #innerCircle {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	background-color: white;
	align-self: center;
	justify-self: start;
	margin-left: 2px;
}
#inactiveBackGround #createModal #description {
	line-height: 1.4;
	font-size: 14px;
	padding: 0;
	margin: 0;
}
#inactiveBackGround #createModal h2 {
	line-height: 1;
	margin-top: 15px;
	margin-bottom: 10px;
}
#inactiveBackGround #createModal #inpDiv input {
	border-radius: 7px;
	width: 100%;
	height: 30px;
	border-width: 1px;
}
#inactiveBackGround #createModal #inpDiv p {
	padding: 0;
	margin: 0;
	margin-top: 12px;
	margin-bottom: 8px;
}
#inactiveBackGround #createModal #bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 13px;
	align-items: center;
}

#createBackGroundDiv #templatesTab {
	display: none;
	position: fixed;
	bottom: 0;

	justify-content: center;
	background-color: rgb(223, 220, 236);
	color: white;

	z-index: 100;
	width: 100%;
	height: fit-content;
}
#createBackGroundDiv #templatesTab #templates {
	height: 100px;
	width: 100%;
	max-width: 700px;
	display: flex;
	justify-self: center;
	overflow-x: auto;
}
#createBackGroundDiv #templatesTab #templates img {
	height: auto;
	width: 90px;
	border-radius: 10px;
}
#createBackGroundDiv #templatesTab #templates .templateButton {
	height: 70px;
	width: 100px;
	background-color: transparent;
	border-width: 0;
}
#createBackGroundDiv #templatesTab #lineDiv {
	height: auto;
	width: fit-content;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
#createBackGroundDiv #templatesTab #lineDiv hr {
	height: 8px;
	width: 60px;
	border-radius: 5px;
	background-color: rgb(155, 155, 155);
	border-width: 0;
}
#createBackGroundDiv #templatesTab #bottom {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-items: center;
	gap: 10px;
	padding: 15px;
	box-sizing: border-box;
}
#createBackGroundDiv #templatesTab #bottom .buttonsDiv {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: fit-content;
	gap: 10px;
}
#createBackGroundDiv #templatesTab #bottom .buttonsDiv button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	border-width: 0;
	background-color: rgba(128, 128, 128, 0.164);
	width: 260px;
	height: 40px;
	box-sizing: border-box;
}
#createBackGroundDiv #templatesTab #bottom .buttonsDiv button .right,
#createBackGroundDiv #templatesTab #bottom .buttonsDiv button .left {
	display: flex;
	align-items: center;
}
#createBackGroundDiv #templatesTab #bottom .buttonsDiv button svg {
	width: 17px;
	height: auto;
}
#inactiveBackGround {
	display: none;
}
#createBackGroundDiv #templatesTab #bottom .buttonsDiv button svg {
	width: 17px;
	height: auto;
}
#createBackGroundDiv #templatesTab #bottom .buttonsDiv #lCircle {
	width: 17px;
	height: 17px;
	background-color: rgb(106, 195, 180);
}
#createBackGroundDiv #templatesTab #bottom .buttonsDiv #rCircle {
	width: 17px;
	height: 17px;
	background-color: rgb(184, 184, 184);
}
@media (min-width: 1000px) {
	#createBackGroundDiv #templatesTab #bottom {
		flex-direction: row;
	}
}
@media (min-width: 600px) {
	#createBackGroundDiv #mainDiv {
		display: flex;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		gap: 30px;
		align-items: start;
	}
	#createBackGroundDiv #mainDiv #imgSection {
		max-width: 250px;
	}
	#createBackGroundDiv #mainDiv #optionsWrapper {
		padding-top: 0;
		margin-top: 0;
		width: 450px;
	}
	#createBackGroundDiv #mainDiv #optionsWrapper #options1 {
		padding-top: 0;
		margin-top: 0;
	}
	#createBackGroundDiv #mainDiv #options2 #fullscreencard {
		display: flex;
		gap: 10px;
		justify-content: space-between;
		padding-bottom: 20px;
	}
	#createBackGroundDiv #mainDiv #options2 #fullscreencard #leftCard {
		display: flex;
		background-color: rgba(100, 100, 100, 0.048);
		justify-content: space-between;
		border-radius: 10px;
		padding-right: 15px;
		padding-left: 15px;
		padding-top: 3px;
		padding-bottom: 3px;
		align-items: center;
		height: fit-content;
		width: 100%;
	}
	#createBackGroundDiv
		#mainDiv
		#options2
		#fullscreencard
		#leftCard
		#left {
		display: flex;
		align-items: center;
		gap: 5px;
	}
	#createBackGroundDiv
		#mainDiv
		#options2
		#fullscreencard
		#leftCard
		#left
		#lineDiv {
		display: flex;
		flex-direction: column;
		justify-items: center;
		width: 10px;
	}
	#createBackGroundDiv
		#mainDiv
		#options2
		#fullscreencard
		#leftCard
		#left
		#lineDiv
		#upCircle {
		background-color: gray;
		width: 9px;
		height: 9px;
		border-radius: 100%;
	}
	#createBackGroundDiv
		#mainDiv
		#options2
		#fullscreencard
		#leftCard
		#left
		#lineDiv
		#downCircle {
		width: 8px;
		height: 8px;
		border-radius: 100%;
		border-width: 1px;
		border-style: solid;
		border-color: gray;
	}
	#createBackGroundDiv
		#mainDiv
		#options2
		#fullscreencard
		#leftCard
		#left
		#lineDiv
		#line {
		margin-left: 4px;
		width: 9px;
		height: 30px;
		border-left: 1px dashed gray;
	}
	#createBackGroundDiv
		#mainDiv
		#options2
		#fullscreencard
		#leftCard
		#left
		#data
		p {
		margin: 0;
		padding: 0;
	}
	#createBackGroundDiv
		#mainDiv
		#options2
		#fullscreencard
		#leftCard
		#left
		#data {
		display: flex;
		flex-direction: column;
		justify-items: start;
		gap: 20px;
	}
	#createBackGroundDiv
		#mainDiv
		#options2
		#fullscreencard
		#leftCard
		#right {
		display: flex;
		flex-direction: column;
		gap: 3px;
	}
	#createBackGroundDiv
		#mainDiv
		#options2
		#fullscreencard
		#leftCard
		#right
		.dateTime {
		display: flex;
		gap: 1px;
	}
	#createBackGroundDiv
		#mainDiv
		#options2
		#fullscreencard
		#leftCard
		#right
		.dateTime
		.date {
		background-color: rgba(77, 77, 77, 0.075);
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		padding-left: 5px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 15px;
	}
	#createBackGroundDiv
		#mainDiv
		#options2
		#fullscreencard
		#leftCard
		#right
		.dateTime
		.time {
		background-color: rgba(77, 77, 77, 0.075);
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		padding-left: 10px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 10px;
	}
	#createBackGroundDiv #mainDiv #options2 #fullscreencard #rightCard {
		background-color: rgba(100, 100, 100, 0.048);
		border-radius: 10px;
		padding-left: 10px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 10px;
	}
	#createBackGroundDiv #mainDiv #options2 #fullscreencard #rightCard p {
		padding: 0;
		margin: 0;
		line-height: 1;
		width: 100px;
		margin-top: 5px;
	}
	#createBackGroundDiv #mainDiv #options2 #fullscreencard #rightCard svg {
		padding: 0;
		margin: 0;
		width: 15px;
		height: auto;
	}
	#createBackGroundDiv #mainDiv #options3 #sections hr {
		box-sizing: border-box;
		max-width: 450px;
		padding: 0;
		margin: 0;
	}
}
/* header */
/* background */
/* specific */
/* footer */
/* Event */

#eventBackGroundDiv {
	width: 100%;
	height: fit-content;
	background-color: rgb(235, 212, 212);
	padding-left: auto;
	padding-right: auto;
}
#eventBackGroundDiv #mainDiv {
	max-width: 950px;
	box-sizing: border-box;
	padding: 15px;
}
#eventBackGroundDiv #mainDiv #imgDiv {
	width: 100%;
	height: auto;
	padding-left: auto;
	padding-right: auto;
	display: flex;
	justify-content: center;
}
#eventBackGroundDiv #mainDiv #imgDiv img {
	width: 300px;
	height: auto;
	border-radius: 10px;
	box-sizing: border-box;
}
#eventBackGroundDiv #mainDiv #header {
	padding-top: 40px;
}

#eventBackGroundDiv #mainDiv #header #top,
#eventBackGroundDiv #mainDiv #header #bottom {
	display: flex;
	justify-content: start;
	align-items: center;
}
#eventBackGroundDiv #mainDiv #header #top button,
#eventBackGroundDiv #mainDiv #header #bottom button {
	display: flex;
	justify-content: start;
	align-items: center;
	background-color: rgba(189, 189, 189, 0.377);
	border-radius: 8px;
	border-width: 0;
	gap: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 0;
}
#eventBackGroundDiv #mainDiv #header #bottom button p,
#eventBackGroundDiv #mainDiv #header #top button p {
	line-height: 1;
	padding: 0;
	margin: 0;
}
#eventBackGroundDiv #mainDiv #header #top button img,
#eventBackGroundDiv #mainDiv #header #bottom button img {
	border-radius: 5px;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
}
#eventBackGroundDiv #mainDiv #header #top svg,
#eventBackGroundDiv #mainDiv #header #bottom svg {
	width: 17px;
	height: 17px;
}
#eventBackGroundDiv #mainDiv #info #date,
#eventBackGroundDiv #mainDiv #info #location {
	display: flex;
	align-items: center;
	gap: 15px;
}
#eventBackGroundDiv #mainDiv #info #date h4,
#eventBackGroundDiv #mainDiv #info #location h4,
#eventBackGroundDiv #mainDiv #info #date p,
#eventBackGroundDiv #mainDiv #info #location p {
	padding: 0;
	margin: 0;
	line-height: 1.5;
}
#eventBackGroundDiv #mainDiv #info #location svg {
	width: 17px;
	height: 17px;
}
#eventBackGroundDiv #mainDiv #info {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
#eventBackGroundDiv #mainDiv #info #location img,
#eventBackGroundDiv #mainDiv #info #date img {
	border-radius: 10px;
}

#eventBackGroundDiv #mainDiv #header #title {
	padding-top: 10px;
	padding-bottom: 10px;
}
#eventBackGroundDiv #mainDiv #ticket {
	background-color: white;
	border-radius: 15px;
	padding-top: 2px;
	margin-bottom: 20px;
}
#eventBackGroundDiv #mainDiv #ticket #label {
	background-color: rgba(165, 165, 165, 0.527);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 10px;
	margin-right: 2px;
	margin-left: 2px;
}
#eventBackGroundDiv #mainDiv #ticket #label p {
	padding: 0;
	margin: 0;
	line-height: 1;
}
#eventBackGroundDiv #mainDiv #ticket svg {
	width: 17px;
	height: 17px;
}
#eventBackGroundDiv #mainDiv #ticket #body {
	padding: 10px;
}
#eventBackGroundDiv #mainDiv #ticket #body #title {
	display: flex;
	align-items: center;
	gap: 10px;
}
#eventBackGroundDiv #mainDiv #ticket #body p,
#eventBackGroundDiv #mainDiv #ticket #body h4 {
	padding: 0;
	margin: 0;
	line-height: 2;
}
#eventBackGroundDiv #mainDiv .sectionTitle hr {
	background-color: gray;
	width: 100%;
}
#eventBackGroundDiv #mainDiv .sectionTitle h4 {
	line-height: 1;
	padding: 0;

	margin: 0;
}
#eventBackGroundDiv #mainDiv #location h3,
#eventBackGroundDiv #mainDiv #location p {
	line-height: 1;
}
#eventBackGroundDiv #mainDiv #location #mapDiv,
#eventBackGroundDiv #mainDiv #location #mapDiv iframe,
#eventBackGroundDiv #mainDiv #location #mapDiv a {
	width: 100%;
	border-radius: 10px;
	border-width: 0;
	height: 200px;
}
#eventBackGroundDiv #mainDiv #location #info svg {
	width: 17px;
	height: 17px;
}

#eventBackGroundDiv #mainDiv #location #info #top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#eventBackGroundDiv #mainDiv #location #info #top #left {
	display: flex;
	gap: 15px;
	align-items: center;
	padding-bottom: 15px;
}
#eventBackGroundDiv #mainDiv #location #info #top #left,
#eventBackGroundDiv #mainDiv #location #info #top #left #arrowText {
	display: flex;
}
#eventBackGroundDiv #mainDiv #location #info #top #left img {
	width: 25px;
	height: 25px;
	border-radius: 3px;
}
#eventBackGroundDiv #mainDiv #location #info #instaIcon {
	padding-top: 10px;
}
#eventBackGroundDiv #mainDiv #hosted #top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#eventBackGroundDiv #mainDiv #hosted #top svg {
	width: 17px;
	height: 17px;
}
#eventBackGroundDiv #mainDiv #hosted #top img {
	width: 25px;
	height: 25px;
	border-radius: 100%;
}
#eventBackGroundDiv #mainDiv #hosted #top #left {
	display: flex;
	align-items: center;
	gap: 10px;
}
#eventBackGroundDiv #mainDiv #hosted #going #imgDiv img {
	width: 23px;
	height: 23px;
	border-radius: 100%;
	outline-width: 2px;
	outline-style: solid;
	outline-color: white;
	margin-right: -10px;
}
#eventBackGroundDiv #mainDiv #hosted #going {
	display: flex;
	justify-items: start;
	flex-direction: column;
	padding-top: 10px;
}
#eventBackGroundDiv #mainDiv #hosted #going #imgDiv {
	width: fit-content;
}
#eventBackGroundDiv #mainDiv #hosted hr {
	width: 100%;
	background-color: gray;
}

@media (min-width: 700px) {
	#eventBackGroundDiv #mainDiv {
		display: flex;
		flex-direction: row;
		justify-self: center;
		gap: 30px;
	}
	#eventBackGroundDiv #mainDiv #leftSection {
	}
	#eventBackGroundDiv #mainDiv #leftSection #info {
		display: unset;
	}
	#eventBackGroundDiv #mainDiv #rightSection #location #info,
	#eventBackGroundDiv #mainDiv #leftSection #header {
		display: none;
	}
	#eventBackGroundDiv #mainDiv #leftSection #bottomSection {
		display: unset;
	}
	#eventBackGroundDiv #mainDiv #rightSection #bottomSection {
		display: none;
	}

	#eventBackGroundDiv #mainDiv #leftSection #bottomSection #hosted #top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#eventBackGroundDiv
		#mainDiv
		#leftSection
		#bottomSection
		#hosted
		#top
		svg {
		width: 17px;
		height: 17px;
	}
	#eventBackGroundDiv
		#mainDiv
		#leftSection
		#bottomSection
		#hosted
		#top
		img {
		width: 25px;
		height: 25px;
		border-radius: 100%;
	}
	#eventBackGroundDiv
		#mainDiv
		#leftSection
		#bottomSection
		#hosted
		#top
		#left {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	#eventBackGroundDiv
		#mainDiv
		#leftSection
		#bottomSection
		#hosted
		#going
		#imgDiv
		img {
		width: 23px;
		height: 23px;
		border-radius: 100%;
		outline-width: 2px;
		outline-style: solid;
		outline-color: white;
		margin-right: -10px;
	}
	#eventBackGroundDiv
		#mainDiv
		#leftSection
		#bottomSection
		#hosted
		#going {
		display: flex;
		justify-items: start;
		flex-direction: column;
		padding-top: 10px;
	}
	#eventBackGroundDiv
		#mainDiv
		#leftSection
		#bottomSection
		#hosted
		#going
		#imgDiv {
		width: fit-content;
	}
	#eventBackGroundDiv #mainDiv #leftSection #bottomSection #hosted hr {
		width: 100%;
		background-color: gray;
	}

	#eventBackGroundDiv #mainDiv #leftSection #info svg {
		width: 17px;
		height: 17px;
	}

	#eventBackGroundDiv #mainDiv #leftSection #info #top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	#eventBackGroundDiv #mainDiv #leftSection #info #top #left {
		display: flex;
		gap: 15px;
		align-items: center;
		padding-bottom: 15px;
	}
	#eventBackGroundDiv #mainDiv #leftSection #info #top #left,
	#eventBackGroundDiv #mainDiv #leftSection #info #top #left #arrowText {
		display: flex;
	}
	#eventBackGroundDiv #mainDiv #leftSection #info #top #left img {
		width: 25px;
		height: 25px;
		border-radius: 3px;
	}
	#eventBackGroundDiv #mainDiv #leftSection #info #instaIcon {
		padding-top: 10px;
	}
}
/* header */
/* background */
/* specific */
/* footer */
/* home */
#eventsBackGroundDiv {
	background: linear-gradient(
		180deg,
		rgba(171, 200, 231, 0.6783088235294117) 0%,
		rgba(224, 224, 224, 0.7035189075630253) 32%
	);
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
}
#eventsBackGroundDiv #mainDiv svg {
	width: 17px;
	height: 17px;
}
#eventsBackGroundDiv #mainWrapper {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	width: 100%;
}
#eventsBackGroundDiv #mainWrapper #mainDiv {
	width: 700px;
	max-width: 700px;
	margin: 0;
	padding: 15px;
	flex-shrink: 1;
	padding-bottom: 80px;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #header #switchButton {
	display: flex;
	align-items: center;
	margin-right: 10px;
	padding: 2px;
	background-color: rgba(128, 128, 128, 0.192);
	border-radius: 7px;
	font-size: 13px;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #header #switchButton p {
	padding: 0;
	margin: 0;
	line-height: 1;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #header #switchButton #innerSwift {
	padding: 0;
	margin: 0;
	line-height: 1;
	background-color: white;
	padding-left: 23px;
	padding-top: 10px;
	padding-right: 23px;
	padding-bottom: 10px;
	border-radius: 7px;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #header #switchButton #leftP {
	padding: 0;
	margin: 0;
	line-height: 1;
	padding-left: 10px;
	padding-right: 10px;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #body {
	display: flex;
	align-items: start;
	width: 100%;
	margin: 0;
	padding: 0;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #body #lineDiv {
	width: 19px;
	height: 160px;
	padding-top: 4px;
	margin-right: 9px;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #body #lineDiv #line {
	border-left: 1px dashed gray;
	margin-left: 8px;
	height: 100%;
}

#eventsBackGroundDiv #mainWrapper #mainDiv #body #lineDiv #circle {
	border-radius: 100%;
	width: 9px;
	height: 9px;
	background-color: gray;
	margin-left: 4px;
	margin-bottom: 4px;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #body #card {
	border-radius: 15px;
	background-color: white;
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
}

#eventsBackGroundDiv #mainWrapper #mainDiv #body #card #left h4 {
	padding: 0;
	margin: 0;
	line-height: 1;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #body #cards {
	margin: 0;
	padding: 0;
	width: 100%;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #body #cards #date {
	margin: 0;
	padding: 0;
	line-height: 1;
	padding-bottom: 20px;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #body #cards #card #left #location,
#eventsBackGroundDiv #mainWrapper #mainDiv #body #cards #card #left #guests,
#eventsBackGroundDiv #mainWrapper #mainDiv #body #cards #card #left button {
	display: flex;
	align-items: center;
	gap: 5px;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #body #cards #card #left p {
	padding: 0;
	margin: 0;
	line-height: 1;
	padding-top: 10px;
	padding-bottom: 10px;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #body #cards #card #left button {
	border-radius: 10px;
	border-width: 0;
	padding-left: 10px;
	padding-right: 10px;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #body #right {
	padding-top: 10px;
	border-radius: 10px;
}
#eventsBackGroundDiv #mainWrapper #mainDiv #body #dateLeft {
	display: none;
}
@media (min-width: 650px) {
	#eventsBackGroundDiv #mainWrapper #mainDiv #body #cards #date {
		display: none;
	}
	#eventsBackGroundDiv #mainWrapper #mainDiv #body #dateLeft {
		display: unset;
	}
	#eventsBackGroundDiv #mainWrapper #mainDiv #body {
		gap: 20px;
	}
	#eventsBackGroundDiv #mainWrapper #mainDiv #body #dateLeft p,
	#eventsBackGroundDiv #mainWrapper #mainDiv #body #dateLeft h4 {
		padding: 0;
		margin: 0;
		line-height: 1;
		padding-bottom: 10px;
		padding-right: 40px;
	}
}
/* header */
/* background */
/* specific */
/* footer */
