@import url('css/globalStyles.css');

header button {
	border-style: none;
	border-radius: 20px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	background: rgb(185, 185, 185, 0.2);
	color: rgb(97, 97, 97);
	font-weight: bold;
	font-size: 15px;
}

#backGroundDiv {
	width: 100%;
	height: fit-content;
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(
		170deg,
		rgb(197, 231, 231) 0%,
		rgb(255, 247, 247) 20%
	);
	background: -webkit-linear-gradient(
		170deg,
		rgb(197, 231, 231) 0%,
		rgb(255, 247, 247) 20%
	);
	background: linear-gradient(
		120deg,
		rgba(197, 231, 231, 0.5) 0%,
		rgb(255, 247, 247) 30%,
		rgb(255, 247, 247) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a6e0e0",endColorstr="#ffffff",GradientType=1);
	position: relative;
}

#mainDiv {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
video {
	width: 100%;
}

#mainDiv #leftDiv h4 {
	font-size: large;
	padding: 0;
	margin: 0;
	padding-top: 10px;
	line-height: 150%;
	font-weight: 100;
	color: rgb(107, 107, 107);
}
#mainDiv #leftDiv h3 {
	padding: 0;
	margin: 0;
}
#mainDiv #leftDiv h1 {
	padding: 0;
	margin: 0;
	font-weight: 400;
	color: black;
}
#mainDiv #leftDiv h1 span {
	background-image: -moz-linear-gradient(
		111deg,
		rgba(89, 145, 233, 1) 0%,
		rgba(213, 68, 156, 1) 54%,
		rgba(255, 102, 20, 1) 100%
	);
	background-image: -webkit-linear-gradient(
		111deg,
		rgba(89, 145, 233, 1) 0%,
		rgba(213, 68, 156, 1) 54%,
		rgba(255, 102, 20, 1) 100%
	);
	background-image: linear-gradient(
		111deg,
		rgba(89, 145, 233, 1) 0%,
		rgba(213, 68, 156, 1) 54%,
		rgba(255, 102, 20, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5991e9",endColorstr="#ff6614",GradientType=1);
	color: transparent;
	background-clip: text;
}
#mainDiv #leftDiv button {
	margin-top: 20px;
	width: fit-content;
	background-color: black;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: large;
	border-radius: 10px;
	border-style: none;
}
#mainDiv #rightDiv {
	width: fit-content;
	height: fit-content;
	padding-top: 30px;
}

#mainDiv svg {
	width: 100px;
	height: 100px;
}
@media (min-width: 600px) {
	#mainDiv {
		display: flex;
		justify-content: center;
		flex-direction: row;
		text-align: start;
		width: fit-content;
		gap: 50px;
	}
	#mainDiv #leftDiv {
		width: 28%;
		padding-top: 120px;
		font-size: xx-large;
	}
	#mainDiv #leftDiv h4 {
		font-size: large;
		padding: 0;
		margin: 0;
		padding-top: 10px;
		line-height: 150%;
		font-weight: 100;
		color: rgb(107, 107, 107);
		width: 91%;
	}
	#mainDiv #leftDiv h1 {
		width: 90%;
	}
	#mainDiv #rightDiv {
		display: flex;
		width: 45%;
		padding-top: 80px;
	}
}
