@import url('../css/globalStyles.css');
@import url('../css/stickyHeaderStyles.css');
header svg {
	width: 45px;
	height: 45px;
}

#backGroundDiv {
	padding: 0;
	margin: 0;
	background: linear-gradient(
		180deg,
		rgba(204, 155, 211, 0.397) 0%,
		rgba(183, 204, 237, 0.5) 10%,
		rgba(240, 243, 255, 1) 20%
	);
	width: 100vw;
	height: 100%;
}
#mainDiv {
	display: flex;
	justify-self: center;
	flex-direction: column;
	width: auto;
	height: auto;
	justify-items: center;
}
#eventsLocalsDiv {
	width: 100%;
}
#localGrid {
	width: 60%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 10px;
	column-gap: 70px;
}
#eventsLocalsDiv ul li {
	background-color: rgba(216, 216, 216, 0.473);
	padding: 8px;
	border-radius: 10px;
}
.circle {
	background-color: blue;
	border-radius: 100%;
	width: 50px;
	height: 50px;
}
.circle img {
	width: 100%;
	height: 100%;
}
.itemDiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	gap: 30px;
}
.infoDiv {
	gap: 0;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 70px;
}
#browseByCategoryDiv {
	width: 100%;
}
#featuredCalendarsDiv {
	width: 100%;
}
#browseByCategoryGrid {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	justify-content: space-evenly;
	row-gap: 50px;
	column-gap: 50px;
}
.browseByCategoryCard {
	display: flex;
	line-height: 0;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	padding: 15px;
}
.browseByCategoryCard img {
	width: 30%;
}
.browseByCategoryCard h1,
.browseByCategoryCard p {
	margin: 0;
	padding: 0;
	line-height: 0;
}
#featuredCalendarsDiv {
	padding-bottom: 30px;
}
#featuredCalendarsGrid {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	justify-content: space-evenly;
	row-gap: 50px;
	column-gap: 50px;
}
.featuredCalendarsCard {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}
.featuredCalendarsCard .topDiv img {
	border-radius: 10px;
}
.topDiv {
	display: flex;
	justify-content: space-between;
	align-items: start;
}
.topDiv span {
	background-color: rgba(214, 214, 214, 0.438);
	border-radius: 15px;
	padding: 7px;
}
.midDiv {
	padding-top: 5px;
}
.botDiv {
	padding-top: 5px;
	font-size: small;
}
